{% extends 'base.html' %}

{% block contenido %}

<!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="main-content text-center" data-aos="zoom-in" data-aos-delay="200">
              <div class="offer-badge" data-aos="fade-down" data-aos-delay="250">
                <span class="limited-time">Sobre</span>
                <span class="offer-text">Nosotros</span>
              </div>

              <h2 data-aos="fade-up" data-aos-delay="300">Universidad Mariano Gálvez de Guatemala</h2>
              <p class="subtitle" data-aos="fade-up" data-aos-delay="350">Ricardo Vasquez Orellana, 5990-22-12937 Estoy estudiando Ingeniería en Sistemas en la Universidad Mariano Gálvez. Me gusta mucho todo lo relacionado con computadoras, tecnología y cómo funcionan los programas. Lo que más me emociona es aprender desarrollo web, porque me permite crear páginas que otras personas pueden usar y ver en internet. Me interesa saber cómo usar HTML, CSS y otros lenguajes para hacer sitios bonitos y útiles. Estoy empezando, pero tengo muchas ganas de seguir aprendiendo y mejorar cada día. Mi meta es poder hacer proyectos reales y ayudar a otros con lo que voy creando.</p>
              
              <div class="countdown-wrapper" data-aos="fade-up" data-aos-delay="200">
                <div class="countdown d-flex justify-content-center" data-count="2025/12/31">
                  <div>
                    <h3 class="count-days"></h3>
                    <h4>Days</h4>
                  </div>
                  <div>
                    <h3 class="count-hours"></h3>
                    <h4>Hours</h4>
                  </div>
                  <div>
                    <h3 class="count-minutes"></h3>
                    <h4>Minutes</h4>
                  </div>
                  <div>
                    <h3 class="count-seconds"></h3>
                    <h4>Seconds</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Call To Action Section -->

</main>
{% endblock %}