{% extends 'base.html' %}

{% block contenido %}
<h2> Inscribir Administrador </h2>
<a href="{% url 'adminis:crear' %}" class="btn btn-primary mb-3">Agregar Administrador</a>
<br><br>
<h1>Lista de Administradores</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Cargo</th>
        <th>Departamento</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Ciudad</th>
        <th>Acciones</th>    
        </tr>
    </thead>
    <tbody>
        {% for administrador in administradores %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ administrador.nombre }}</td>
            <td>{{ administrador.apellido }}</td>
            <td>{{ administrador.edad }}</td>
            <td>{{ administrador.cargo }}</td>
            <td>{{ administrador.departamento }}</td>
            <td>{{ administrador.correo }}</td>
            <td>{{ administrador.telefono }}</td>
            <td>{{ administrador.ciudad }}</td>
            <td>
                <a href="{% url 'adminis:editar' administrador.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'adminis:detalle' administrador.id %}" class="btn btn-info btn-sm">Ver</a>
                
            </td>    
        </tr>
        {% empty %}
        <tr><td colspan="9">No hay administradores registrados.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}