{% extends 'base.html' %}

{% block contenido %}
    <br>
    <div style="width: 35%;" >
        <form action="" method="get" class="d-flex">
            <div class="input-group">
                <input type="text" class="form-control"  placeholder="Ingrese el titulo de publicacion" name="titulo" value="{{request.GET.titulo}}">
                <button class="btn" type="submit">
                <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>

    <br>
    <h1>Lista de Publicaciones</h1>
     <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <th>#</th>
			<th>Título</th>
			<th>Autor</th>
			<th>Fecha</th>
			<th>Administrador</th>
			<th>Estado</th> 
            </tr>
        </thead>
        <tbody>
            {% for publicacion in publicaciones %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ publicacion.titulo }}</td>
                <td>{{ publicacion.autor }}</td>
                <td>{{ publicacion.fecha }}</td>
                <td>{{ publicacion.administrador }}</td>
                <td>{{ publicacion.estado }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="8">No hay publicaciones registradas.</td></tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}


